{#<span class="action-link swap-qa">
    <a id="swap-exercise-with-solution-{{answer.id}}">{% trans %}swap with exercise{% endtrans %}</a>
</span>uncomment if needed#}
<span
    id="post-{{answer.id}}-publish"
    class="action-link"
>
    {% if answer.id in published_answer_ids %}
        <a
            class="solution-unpublish"
            data-solution-id="{{ answer.id }}"
        >{% trans %}unpublish{% endtrans %}</a>
    {% else %}
        <a
            class="solution-publish"
            data-solution-id="{{ answer.id}}"
        >{% trans %}publish{% endtrans %}</a>
    {% endif %}
</span>
<span id='post-{{answer.id}}-delete' class="action-link delete-post">
    <a class="exercise-delete"
    >{% if answer.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
</span>
{% if answer.offensive_flag_count > 0 %}
<span
    id="solution-offensive-remove-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}remove offensive flag{% endtrans %}"
>
    <a class="exercise-flag">{% trans %}remove flag{% endtrans %}</a>
</span>
<span
    id="amswer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="exercise-flag">{% trans %}flag offensive{% endtrans %} ({{ answer.offensive_flag_count }})</a>
</span>
{% else %}
<span
    id="solution-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="exercise-flag">{% trans %}flag offensive{% endtrans %}</a>
</span>
{% endif %}
<span id='post-{{answer.id}}-edit' class="action-link">
    <a class="exercise-edit" href="{% url edit_answer answer.id %}">{% trans %}edit{% endtrans %}</a>
</span>
<span id='post-{{answer.id}}-convert' class="action-link">
  <form class="solution-convert" action="{% url answer_to_comment %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="solution_id" id="id_solution_id" value="{{answer.id}}"/>
    <input type="submit" name="" value="{% trans %}convert to comment{% endtrans %}"/>
  </form>
</span>
<script type="text/javascript">
    askbot['functions']['hideConvertProblemLinks']('{{ answer.id }}');
    askbot['functions']['hidePublishProblemLink']('{{ answer.id }}');
    askbot['functions']['renderPostControls']('{{ answer.id }}');
</script>
