{# HANS : This is a hackish place to put this for now, refactor later #}
{% set answers = problem.get_cached_solutions() %}
{% if answers %}

<div class="solutions-outer">
		<h2 id="solution-title">
	        {% trans %}Solutions{% endtrans %}
	    </h2>
	<div class="clean"></div>
	{% for answer in answers %}
	{% include "exercise/answer_card.html" %}
	{% endfor %}
</div>
{% endif %}
<br><a href="{{ problem.get_answer_form_url() }}"><input id="add-answer-btn" class="submit after-editor" type="button" style="float:left" value="Solve This Problem"/></a></br>