
<a name="{{ answer.id }}"></a>
{% if answer.old_answer_id %}
    {# Make old URL anchors/hashes work #}
    <a class="old_answer_id_anchor" name="{{ answer.old_answer_id }}"></a>
{% endif %}
<div
        id="post-id-{{ answer.id }}"
        class="{{ macros.solution_classes(answer, problem) }}">
    <div class="vote-buttons">
        {% include "exercise/answer_vote_buttons.html" %}
    </div>
    <div class="solution-table">
        <div class="item-right">
            <div class="solution-body">
                <div class="post-update-info-container">
                    {% include "exercise/problem_author_info.html" %}
                </div>
                {% if answer.id in published_answer_ids %}
                    <p><strong>{% trans %}This response is published{% endtrans %}</strong></p>
                {% endif %}
                {{ answer.html }}
            </div>
            <div class="solution-controls post-controls">
                {% include "exercise/answer_controls.html" %}
            </div>
            {% include "exercise/answer_comments.html" %}
        </div>
    </div>
    <div class="clean"></div>
</div>
<div class="clean"></div>
