<a name="{{ problem.id }}"></a>
{% if problem.old_problem_id %}
    {# Make old URL anchors/hashes work #}
    <a class="old_problem_id_anchor" name="{{ problem.old_problem_id }}"></a>
{% endif %}
<div class="problem toggler toggler-hide" onclick="toggleDisplay(this, {{ problem.id }});">[Problem]</div>
<div
        style="display:none"
        id="post-id-{{ problem.id }}"
        class="{{ macros.problem_classes(problem, exercise) }}">
    <div class="vote-buttons">
        {% include "exercise/problem_vote_buttons.html" %}
    </div>
    <div class="problem-table">

        <div class="item-right">
            <div class="problem-body">
                <div class="post-update-info-container">
                    {% include "exercise/problem_author_info.html" %}
                </div>
                {% if problem.id in published_problem_ids %}
                    <p><strong>{% trans %}This response is published{% endtrans %}</strong></p>
                {% endif %}
                {{ problem.html }}
            </div>
            <div class="problem-controls post-controls">
                {% include "exercise/problem_controls.html" %}
            </div>
            {% include "exercise/problem_comments.html" %}
        {# ==== START: exercise/solution_preview.html ==== #}
        {% include "exercise/solution_preview.html" %}
        {# ==== END: exercise/solution_card.html ==== #}
        </div>
        {% if exercise.closed == False and request.user == exercise.author %}{# this is outside the form on purpose #}
        <input
           type="button"
           class="submit after-editor problem-own-exercise"
           id="fmproblem_button"
           value="{% trans %}Add a Problem to Your Own Solution{% endtrans %}"
           />
        {% endif %}

    </div>
    <div class="clean"></div>
</div>
<div class="clean"></div>

