{#<span class="action-link swap-qa">
    <a id="swap-exercise-with-problem-{{problem.id}}">{% trans %}swap with exercise{% endtrans %}</a>
</span>uncomment if needed#}
<span 
    id="post-{{problem.id}}-publish"
    class="action-link"
>
    {% if problem.id in published_problem_ids %}
        <a 
            class="problem-unpublish"
            data-problem-id="{{ problem.id }}"
        >{% trans %}unpublish{% endtrans %}</a>
    {% else %}
        <a 
            class="problem-publish"
            data-problem-id="{{ problem.id}}"
        >{% trans %}publish{% endtrans %}</a>
    {% endif %}
</span>
<span class="action-link delete-post">
    <a class="exercise-delete" id="post-{{problem.id}}-delete"
    >{% if problem.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
</span>
<span id='post-{{problem.id}}-edit' class="action-link">
    <a class="exercise-edit" href="{% url edit_problem problem.id %}">{% trans %}edit{% endtrans %}</a>
</span>
<span id='post-{{problem.id}}-convert' class="action-link">
  <form class="problem-convert" action="{% url problem_to_comment %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="problem_id" id="id_problem_id" value="{{problem.id}}"/>
    <input type="submit" name="" value="{% trans %}convert to comment{% endtrans %}"/>
  </form>
</span>
<script type="text/javascript">
    askbot['functions']['hideConvertProblemLinks']('{{ problem.id }}');
    askbot['functions']['hidePublishProblemLink']('{{ problem.id }}');
    askbot['functions']['renderPostControls']('{{ problem.id }}');
</script>
