{% import "macros.html" as macros %}
{% if settings.SIDEBAR_EXERCISE_HEADER %}
<div class="box">
    {{ settings.SIDEBAR_EXERCISE_HEADER }}
</div>
{% endif %}
<div class="box vote-buttons">
    <h2 >{% trans %}Exercise tools{% endtrans %}</h2>
    {% if request.user.is_authenticated() %}
        <a class="button followed2 add2cart" style="margin: 10px auto;" data-eid="{{ exercise.id }}"
            data-title="{{ thread.get_title(exercise)|escape }}" alt="{% trans %}click to add this exercise to download cart{% endtrans %}">
            {%trans %}Add to cart{%endtrans%}
        </a>
    {% endif %}
    {% if favorited %}
        <a class="button followed"
            alt="{% trans %}click to unfollow this exercise{% endtrans %}">
            <div>{% trans %}Following{% endtrans %}</div>
            <div class='unfollow'>{% trans %}Unfollow{% endtrans %}</div>
        </a>
    {% else %}
        <a class="button followed"
            alt="{% trans %}click to follow this exercise{% endtrans %}">
            {%trans %}Follow{%endtrans%}
        </a>
    {% endif %}
    <div class="clearfix"></div>
    <div id="favorite-number" class="favorite-number{% if favorited %} my-favorite-number{% endif %}">
        {% set follower_count = thread.favourite_count %}
        {% if follower_count > 0 %}
            {% trans count=follower_count %}{{count}} follower{% pluralize %}{{count}} followers{% endtrans %}
        {% endif %}
    </div>
</div>

<div class="clearfix"></div>
{% if settings.GROUPS_ENABLED %}
<div class="box sharing-widget">
    {% if thread.is_private() %}
        <h2>{% trans %}Invite{% endtrans %}</h2>
        <p style="margin: 16px 0"
        >Invite others to help problem this exercise</p>
        <form action="{% url share_exercise_with_user %}" method="post">{% csrf_token %}
            <input id="share_user_name" type="text" class="groups-input" name="recipient_name" />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <input type="submit" class="add-groups" value="{% trans %}add{% endtrans %}"/>
        </form>
        <p class="share-input-col">{% trans %}- or -{% endtrans %}</p>
        <form action="{% url share_exercise_with_group %}" method="post">{% csrf_token %}
            <input id="share_group_name" type="text" class="groups-input" name="recipient_name" />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <input type="submit" class="add-groups" value="{% trans %}add{% endtrans %}"/>
        </form>
        <p class="share-input-col">{% trans %}- or -{% endtrans %}</p>
        <form action="{% url share_exercise_with_group %}" method="post">{% csrf_token %}
            <input
                type="hidden"
                name="recipient_name"
                value="{{ settings.GLOBAL_GROUP_NAME }}"
            />
            <input type="hidden" name="thread_id" value="{{ thread.id }}"/>
            <p class="share-input-col">
            <input
                type="submit"
                class="add-groups add-everyone-group"
                value="{% trans %}share with everyone{% endtrans %}"
            />
            </p>
        </form>

        {% set shared_users_count = sharing_info['users'].count() %}
        {% set shared_groups_count = sharing_info['groups'].count() %}

        {% if shared_users_count or shared_groups_count %}
            <p
                style="margin:16px 0 4px 0"
            >{% trans %}This exercise is currently shared only with:{% endtrans %}</p>
        {% endif %}
        <h3>{% trans %}Individual users{% endtrans %}</h3>
            {% set comma = joiner(',') %}
            {{ comma() }}
        <p>
        <a href="{{ request.user.get_profile_url() }}">
            {% trans %}You{% endtrans -%}
        </a>{%- if shared_users_count -%}
                {%- for user in sharing_info['users'] %}{{ comma() }}
                    {{ user.get_profile_link() }}
                {%- endfor -%}
            {% endif -%}
            {%- if sharing_info['more_users_count'] > 0 %}
                {% trans %}and{% endtrans %}
                <a
                    class="see-related-users"
                    data-url="{% url get_thread_shared_users %}"
                    data-thread-id="{{ thread.id }}"
                >{% trans
                        more_count=sharing_info['more_users_count']
                    %}{{ more_count }} more{% endtrans %}
                </a>
            {% endif %}
        </p>

        {% if shared_groups_count %}
            <h3>{% trans %}Groups{% endtrans %}</h3>
            <p>
                {% set comma = joiner(',') %}
                {%- for group in sharing_info['groups'] -%}{{ comma() }}
                    {{ macros.user_group_link(group) }}
                {%- endfor -%}
                {% if sharing_info['more_groups_count'] > 0 %}
                    {% trans %}and{% endtrans %}
                    <a
                        class="see-related-groups"
                        data-url="{% url get_thread_shared_groups %}"
                        data-thread-id="{{ thread.id }}"
                    >{% trans more_count=sharing_info['more_groups_count'] %}{{ more_count }} more{% endtrans %}
                    </a>
                {% endif %}
            </p>
        {% endif %}
    {% else %}
        <h2>{% trans %}Public thread{% endtrans %}</h2>
        <p>{% trans site_name=settings.APP_SHORT_NAME %}This thread is public, all members of {{ site_name }} can read this page.{% endtrans %}</p>
    {% endif %}
</div>
{% endif %}

{% if settings.SIDEBAR_EXERCISE_SHOW_META %}
<div class="box statsWidget">
    <div class="clearfix"></div>
    <h2>{% trans %}Stats{% endtrans %}</h2>
    <p>
        {% trans %}Asked{% endtrans %}: <strong>{{ macros.timeago(exercise.added_at) }}</strong>
    </p>
    <p>
        {% trans %}Seen{% endtrans %}: <strong>{{ thread.view_count|intcomma }} {% trans %}times{% endtrans %}</strong>
    </p>
    <p>
        {% trans %}Last updated{% endtrans %}: <strong title="{{ thread.last_activity_at }}">{{thread.last_activity_at|diff_date}}</strong>
    </p>
</div>
{% endif %}

{%if request.user.is_authenticated() %}
<div class="box vote-buttons">
    <h2 >{% trans %}Downloads{% endtrans %}</h2>
    <div class="clearfix"></div>
    <div class="notify-sidebar">
        <p class="rss" style="background-image:url({{ "/images/pdf.png"|media }})">
            <a
                href="{{settings.APP_URL}}/export/pdf/{{ exercise.id }}"
                title="{% trans %} Export to PDF {% endtrans %}"
                >{% trans %}export problems to PDF{% endtrans %}</a>
            </a>
        </p>
        <p class="rss" style="background-image:url({{ "/images/pdf.png"|media }})">
            <a
                href="{{settings.APP_URL}}/export/pdf/{{ exercise.id }}?all=1"
                title="{% trans %} Export to PDF {% endtrans %}"
                >{% trans %}export problems and solutions to PDF{% endtrans %}</a>
            </a>
        </p>
        <p class="rss" style="background-image:url({{ "/images/word.gif"|media }})">
            <a
                href="{{settings.APP_URL}}/export/rtf/{{ exercise.id }}"
                title="{% trans %} Export to RTF {% endtrans %}"
                >{% trans %}export problems to RTF{% endtrans %}</a>
            </a>
        </p>
        <p class="rss" style="background-image:url({{ "/images/word.gif"|media }})">
            <a
                href="{{settings.APP_URL}}/export/rtf/{{ exercise.id }}?all=1"
                title="{% trans %} Export to RTF {% endtrans %}"
                >{% trans %}export problems and solutions to RTF{% endtrans %}</a>
            </a>
        </p>
{# ==== BEGIN: txt type added  ==== #}
        <p class="rss" style="background-image:url({{ "/images/txt.png"|media }})">
            <a
                href="{{settings.APP_URL}}/export/txt/{{ exercise.id }}"
                title="{% trans %} Export to TXT {% endtrans %}"
                >{% trans %}export problems to TXT{% endtrans %}</a>
            </a>
        </p>
        <p class="rss" style="background-image:url({{ "/images/txt.png"|media }})">
            <a
                href="{{settings.APP_URL}}/export/txt/{{ exercise.id }}?all=1"
                title="{% trans %} Export to TXT {% endtrans %}"
                >{% trans %}export problems and solutions to TXT{% endtrans %}</a>
            </a>
        </p>
{# ==== END: txt type added  ==== #}
    </div>
</div>
<div class="clearfix"></div>
{% endif %}

{% if similar_threads.data() and settings.SIDEBAR_EXERCISE_SHOW_RELATED %}
    {#% cache 1800 "related_exercises" related_exercises exercise.id language_code %#}
    <div class="box">
        <h2>{% trans %}Related exercises{% endtrans %}</h2>
        <div class="exercises-related">
            {% for thread_dict in similar_threads.data() %}
            <p>
                <a href="{{ thread_dict.url }}">{{ thread_dict.title|escape }}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    {#% endcache %#}
{% endif %}

<div class="box">
    {{ settings.SIDEBAR_EXERCISE_FOOTER }}
</div>
