
<a name="{{ solution.id }}"></a>
{% if solution.old_solution_id %}
    {# Make old URL anchors/hashes work #}
    <a class="old_solution_id_anchor" name="{{ solution.old_solution_id }}"></a>
{% endif %}
<div class="solution toggler toggler-hide" onclick="toggleDisplay(this, {{ solution.id }});" title="{{solution.summary|escape}}" >[Solution]</div>
<div
		style="display:none"
        id="post-id-{{ solution.id }}"
        class="{{ macros.solution_classes(solution, problem) }}">
    <div class="vote-buttons">
        {% include "exercise/solution_vote_buttons.html" %}
    </div>
    <div class="solution-table">
        <div class="item-right">
            <div class="solution-body">
                <div class="post-update-info-container">
                    {% include "exercise/solution_author_info.html" %}
                </div>
                {% if solution.id in published_solution_ids %}
                    <p><strong>{% trans %}This response is published{% endtrans %}</strong></p>
                {% endif %}
                {{ solution.html }}
            </div>
            <div class="solution-controls post-controls">
                {% include "exercise/solution_controls.html" %}
            </div>
			<div style="margin-left: 2em">
            	{% include "exercise/solution_comments.html" %}
			</div>
        </div>
    </div>
    <div class="clean"></div>
</div>
<div class="clean"></div>
