{# most, if not all javascripts should go here
   this template is included at the very bottow of the
   main template "base.html"
#}
<div id="no-javascript">
    <noscript class="noscript">
        {% trans app_name = settings.APP_SHORT_NAME %}Please note: {{app_name}} requires javascript to work properly, please enable javascript in your browser, <a href="{{noscript_url}}">here is how</a>{% endtrans %}
    </noscript>
    <script type="text/javascript">
        //IE fix to hide the red margin
        var noscript = document.getElementsByTagName('noscript')[0];
        noscript.style.padding = '0px';
        noscript.style.backgroundColor = 'transparent';
    </script>
</div>
<script type="text/javascript">
    var i18nLang = '{{settings.LANGUAGE_CODE}}';
    var scriptUrl = '/{{settings.ASKBOT_URL}}'
    var askbotSkin = '{{settings.ASKBOT_DEFAULT_SKIN}}';
    var enableMathJax = {% if settings.ENABLE_MATHJAX %}true{% else %}false{% endif %};
    askbot['urls']['mark_read_message'] = '{% url "read_message" %}';
    askbot['urls']['get_tags_by_wildcard'] = '{% url "get_tags_by_wildcard" %}';
    askbot['urls']['get_tag_list'] = '{% url "get_tag_list" %}';
    askbot['urls']['follow_user'] = '/followit/follow/user/{{'{{'}}userId{{'}}'}}/';
    askbot['urls']['unfollow_user'] = '/followit/unfollow/user/{{'{{'}}userId{{'}}'}}/';
    askbot['urls']['user_signin'] = '{{ settings.LOGIN_URL }}';
    askbot['settings']['static_url'] = '{{ settings.STATIC_URL }}';
    askbot['urls']['getEditor'] = '{% url "get_editor" %}';
</script>
<script 
    type="text/javascript"
    {% if settings.DEBUG %}
        src="{{"/js/jquery-1.7.2.min.js"|media}}"
    {% else %}
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    {% endif %}
></script>
<script type="text/javascript" src='{{"/bootstrap/js/bootstrap.js"|media}}'></script>
<!-- History.js --> 
<script type='text/javascript' src="{{"/js/jquery.history.js"|media }}"></script>
<script type='text/javascript' src="{{"/js/utils.js"|media }}"></script>
<script type='text/javascript' src="{{"/js/jstorage.js"|media }}"></script>
{% if settings.ENABLE_MATHJAX %}
    <script type='text/javascript' src="{{settings.MATHJAX_BASE_URL}}/MathJax.js">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX","output/HTML-CSS"],
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
        });
    </script>
{% endif %}
<script type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        // focus input on the search bar endcomment
        {% if active_tab in ('users', 'exercises', 'tags') %}
            $('#keywords').focus();
        {% elif active_tab == 'ask' %}
            $('#id_title').focus();
        {% else %}
            animateHashes();
        {% endif %}
        if (askbot['data']['userIsAdminOrMod']) {
            $('body').addClass('admin');
        }
        {%if settings.GROUPS_ENABLED %}
        askbot['urls']['add_group'] = "{% url add_group %}";
        var group_dropdown = new GroupDropdown({{group_list}});
        $('.dropdown').append(group_dropdown.getElement());
        {%if request.user.is_superuser%}
        group_dropdown.enableAddGroups();
        {%endif%}
        {% endif %}

        {% if request.user.is_authenticated() %}
        // shopping cart
        var cart_title = [
            '<div class="btn-group" style="display:inline-block">',
                '<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">Download <span class="caret"></span></a>',
                '<ul class="dropdown-menu">',
                    '<li><a href="#" class="cart-down" data-type="pdf" >PDF</a></li>',
                    '<li><a href="#" class="cart-down" data-type="pdf" data-all="1">PDF(with answers)</a></li>',
                    '<li><a href="#" class="cart-down" data-type="rtf" >RTF</a></li>',
                    '<li><a href="#" class="cart-down" data-type="rtf" data-all="1">RTF(with answers)</a></li>',
                '</ul>',
            '</div>',
            '<a id="id-clear-cart" class="btn" href="#" style="margin-top:-17px;">Clear Cart</a>',
        ].join('\n');
        var cart_content = [
            '<div id="cart-items">',
                '<ul></ul>',
            '</div>',
        ].join('\n');
        var ul = $('#cart-items ul');
        $('#id-cart').popover({
            placement: 'bottom',
            trigger: 'manual',
            animation: false,
            content: cart_content,
            title: cart_title
        }).click(function() {
            $(this).popover('toggle');
            $('.dropdown-toggle').dropdown();
            ul = $('#cart-items ul');
            refresh_cart();
            return false;
        });
        $(document.body).click(function() { $('#id-cart').popover('hide'); });

        var refresh_cart = function() {
            ul.html('');
            for (var i = 0, items = $.jStorage.get('cart', []); i < items.length; i++) {
                j = items[i];
                var el = $('<li><a/></li>').data('id', j.id);
                    el.find('a').attr('href', '/exercise/' + j.id + '/').text(j.title);
                ul.append(el);
            }
        };
        var in_cart = function(id) {
            for (var i = 0, items = $.jStorage.get('cart', []); i < items.length; i++) {
                j = items[i];
                if (id == j.id)
                    return true;
            }
            return false;
        };
        $('body').on('click', '#id-clear-cart', function() {
            $.jStorage.set('cart', []);
            refresh_cart();
        });
        $('body').on('click', '.cart-down', function() {
            var me = $(this), uri = '/export/' + me.data('type') + '/';
            var ids = ul.find('li').map(function(){ return $(this).data('id'); }).get().join(',');
            if (ids) {
                uri += ids;
                if (me.data('all'))
                    uri += '?all=1';
                location.href = uri;
            }
        });

        var add2cart = $('.add2cart').click(function() {
            var items = $.jStorage.get('cart', []), me = $(this);
            items.push({id: me.data('eid'), title: me.data('title')});
            $.jStorage.set('cart', items);
            me.remove();
            return false;
        });

        add2cart.each(function() {
            var me = $(this), eid = me.data('eid');
            if (in_cart(eid))
                me.remove();
        });
        refresh_cart();
        {% endif %}
    });
{% if user_messages %}
    $('#validate_email_alert').click(function(){notify.close(true)})
    notify.show();
{% endif %}
    $('abbr.timeago').timeago();
    /*]]>*/
</script>
<style>
.popover-title li a { font-size: 12px; }
#cart-items {
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
}
.followed2 {
  line-height: 34px;
  border: 0;
  font-weight: normal;
  margin-top: 3px;
  display: block;
  height: 34px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #4a757f;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  text-shadow: 0px 1px 0px #c6d9dd;
  -moz-text-shadow: 0px 1px 0px #c6d9dd;
  -webkit-text-shadow: 0px 1px 0px #c6d9dd;
  border-top: #eaf2f3 1px solid;
  background-color: #d1e2e5;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1e2e5), color-stop(25%, #d1e2e5), to(#a9c2c7));
  background-image: -webkit-linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: -moz-linear-gradient(top, #d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: -ms-linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: -o-linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  background-image: linear-gradient(#d1e2e5, #d1e2e5 25%, #a9c2c7);
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px #636363;
  -moz-box-shadow: 1px 1px 2px #636363;
  box-shadow: 1px 1px 2px #636363;
  margin: 0 auto;
  padding: 0;
  width: 130px;
}
.followed2:hover {
  background-color: #cde5e9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cde5e9), color-stop(25%, #cde5e9), to(#94b3ba));
  background-image: -webkit-linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  background-image: -moz-linear-gradient(top, #cde5e9, #cde5e9 25%, #94b3ba);
  background-image: -ms-linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  background-image: -o-linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  background-image: linear-gradient(#cde5e9, #cde5e9 25%, #94b3ba);
  text-decoration: none;
  text-shadow: 0px 1px 0px #c6d9dd;
  -moz-text-shadow: 0px 1px 0px #c6d9dd;
  -webkit-text-shadow: 0px 1px 0px #c6d9dd;
  text-shadow: 0px 1px 0px #c6d9dd;
  -moz-text-shadow: 0px 1px 0px #c6d9dd;
  -webkit-text-shadow: 0px 1px 0px #c6d9dd;
}
</style>
{% if settings.USE_CUSTOM_JS %}
<script 
    src="{% url "custom_js"%}?v={{ settings.MEDIA_RESOURCE_REVISION }}"
    type="text/javascript"
></script>
{% endif %}
{% if settings.GOOGLE_ANALYTICS_KEY %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker('{{ settings.GOOGLE_ANALYTICS_KEY }}');
    pageTracker._trackPageview();
    } catch(err) {}
</script>
{% endif %}
